npm-debug.log
yarn-error.log
node_modules/
dist/
tmp/
deps/alloy/i18n/locale-data
deps/alloy/i18n/whitelists
folgers/precommit/scripts-to-run.js
stats.json
deps/*/*.tgz
coverage
junit.xml
.gradle
BDockerfile
errorShots/
tio*.gz
.vscode/
.DS_Store
WDIO*.xml
.idea/
